@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@inject LocServices SharedLocalizer
@model List<CompanySupportRequests>
@{
    Layout = "~/Views/Shared/_CompanySupportRequestsLayout.cshtml";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("CompanySupportRequests")</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("BranchName")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Header")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Content")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (CompanySupportRequests c in Model)
                                        {
                                            <tr>
                                                <td>@c.requestId</td>
                                                <td>@c.branch.name</td>
                                                <td>@c.header</td>
                                                <td>@c.content</td>
                                                <td>@c.date</td>
                                                <td><span class="dot dot-lg bg-@(c.isActive ? "success" : "warning") mr-2"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only">Action</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @{ if (!c.isActive)
                                                                {
                                                                    <a class="dropdown-item view" href="#" data-target="@Url.Action("PartialViewEdit", "CompanySupportRequests", new {requestId = c.requestId})">Onayla</a>
                                                                }
                                                            }
                                                            <a class="dropdown-item" href="@Url.Action("Index", "BranchProfile", new {branchId = c.branchId})">İşletmeye Git</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->



<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>

