@using Dashboard
@using Dashboard.Resources
@inject LocServices SharedLocalizer

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/css/apexcharts.css" rel="stylesheet" />
    <link href="~/css/app-rtl.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/dropzone.css" rel="stylesheet" />
    <link href="~/css/feather.css" rel="stylesheet" />
    <link href="~/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/css/jquery.steps.css" rel="stylesheet" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
    <link href="~/css/select2-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
    <link href="~/css/simplebar.css" rel="stylesheet" />
    <link href="~/css/uppy.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme">
</head>
<body class="vertical  dark">
    <div class="wrapper">

        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="@ViewBag.data" aria-label="Search">
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            @ViewBag.admin.name &nbsp;
                            <img src="https://www.gravatar.com/avatar/@Program.MD5Hash(ViewBag.admin.mail)" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a href="@Url.Action("Index", "Home")"><img class="padding-image" src="~/images/bmv_in.png" /></a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-home"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Home")</span>
                        </a>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>İşletmeler</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Branches")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-building"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Branches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Payment")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-credit-card-alt"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Payments")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-envelope"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tickets")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "BranchApplication")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("BranchApplications")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-history"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("HistoryMatches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("AreaApplications")</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trash"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("DeleteAreaRequests")</span>
                        </a>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Kullanıcılar</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Users")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-users"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Teams")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trophy"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Leagues")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-random"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tournament")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-database"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("UserData")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-table"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("TeamData")</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main role="main" class="main-content">
            @RenderBody()
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">@SharedLocalizer.GetLocalizedHtmlString("Notifications")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush my-n3">
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-box fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Package has uploaded successfull</strong></small>
                                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("ClearAll")</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>