@using Dashboard
@using Dashboard.Resources
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject LocServices SharedLocalizer
@inject LocServices SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOps

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOps.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Yetkili BiMaçVar! ekbinin tüm kontrol mekanizmalarının bulunduğu site.">
    <meta name="author" content="BiMaçVar!">
    <link rel="icon" href="favicon.ico">
    <title>BiMaçVar! - @SharedLocalizer.GetLocalizedHtmlString("Dashboard")</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/css/apexcharts.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/app-rtl.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/dropzone.css" rel="stylesheet" />
    <link href="~/css/feather.css" rel="stylesheet" />
    <link href="~/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/css/jquery.steps.css" rel="stylesheet" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
    <link href="~/css/select2-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
    <link href="~/css/simplebar.css" rel="stylesheet" />
    <link href="~/css/uppy.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme">
</head>
<body class="vertical dark">
    <div class="wrapper">

        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <ul class="nav">
                <li class="nav-item">
                    <form id="selectLanguage" asp-controller="Home"
                          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                          method="post" class="form-horizontal" role="form">
                        <select onchange="this.form.submit()" name="culture" asp-for="@(requestCulture.RequestCulture.UICulture.Name)" asp-items="cultureItems" class="form-control"></select>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <!--<span class="dot dot-md bg-success"></span>-->
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-muted pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            @Program.administrator.name &nbsp;
                            <img src="https://www.gravatar.com/avatar/@Program.MD5Hash(Program.administrator.mail)" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Logout", "Admin")">@SharedLocalizer.GetLocalizedHtmlString("Logout")</a>
                    </div>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <div class="w-100 mb-4 d-flex">
                    <a href="@Url.Action("Index", "Home")"><img class="padding-image" src="~/images/bmv_in.png" style="width: 100%" /></a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-home"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Home")</span>
                        </a>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>İşletmeler</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Branches")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-building"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Branches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Payment")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-credit-card-alt"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Payments")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CompanySupportRequests")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-envelope"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tickets")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "BranchApplication")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("BranchApplications")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "MatchHistory")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-history"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("HistoryMatches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "AreaApplications")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("AreaApplications")</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "DeleteAreaRequests")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trash"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("DeleteAreaRequests")</span>
                        </a>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Kullanıcılar</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Users")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Users")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Teams")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-users"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Teams")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trophy"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Leagues")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-random"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tournament")</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main role="main" class="main-content">
            @RenderBody()
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    @await Component.InvokeAsync("AdminNotifications");
</body>
</html>