@using Dashboard
@using Dashboard.Resources
@inject LocServices SharedLocalizer

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <link rel="stylesheet" href="~/css/simplebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme">
</head>
<body class="vertical  dark">
    <div class="wrapper">

        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="@ViewBag.data" aria-label="Search">
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            @ViewBag.admin.name &nbsp;
                            <img src="https://www.gravatar.com/avatar/@Program.MD5Hash(ViewBag.admin.mail)" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a href="@Url.Action("Index", "Home")"><img class="padding-image" src="~/images/bmv_in.png" /></a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-home"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Home")</span>
                        </a>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>İşletmeler</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Branches")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-building"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Branches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Payment")" aria-expanded="false" class="nav-link">
                            <i class="fa fa-credit-card-alt"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Payments")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-envelope"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tickets")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("BranchApplications")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-history"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("HistoryMatches")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("AreaApplications")</span>
                        </a>
                    </li>
                
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trash"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("DeleteAreaRequests")</span>
                        </a>
                    </li>
                </ul>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Kullanıcılar</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-user"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Users")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-users"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Teams")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-trophy"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Leagues")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-random"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("Tournament")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-database"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("UserData")</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ui-elements" aria-expanded="false" class="nav-link">
                            <i class="fa fa-table"></i>
                            <span class="ml-3 item-text">@SharedLocalizer.GetLocalizedHtmlString("TeamData")</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main role="main" class="main-content">
            @RenderBody()
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">@SharedLocalizer.GetLocalizedHtmlString("Notifications")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush my-n3">
                        <div class="list-group-item bg-transparent">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="fe fe-box fe-24"></span>
                                </div>
                                <div class="col">
                                    <small><strong>Package has uploaded successfull</strong></small>
                                    <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                    <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("ClearAll")</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script>
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script src="~/js/apps.js"></script>
    <script>
        @{
        List<Dictionary<string, long>> list = ViewBag.chartData != null ? ViewBag.chartData : new List<Dictionary<string, long>>();
        string dateList = ViewBag.dateData;}
        var barChart, barChartoptions = {
            series: [{
                name: "Şubeler",
                data: [@{ for (int i = 0; i < list.Count; i++) {  @list[i]["B"]; @((i != (list.Count - 1)) ? "," : ""); } }]
            }, {
                name: "Kullanıcılar",
                data: [@{ for (int i = 0; i < list.Count; i++) {  @list[i]["U"]; @((i != (list.Count - 1)) ? "," : ""); } }]
            }, {
                name: "Sahalar",
                data: [@{ for (int i = 0; i < list.Count; i++) {  @list[i]["A"]; @((i != (list.Count - 1)) ? "," : ""); } }]
            }],
            chart: {
                type: "bar",
                height: 415,
                stacked: !0,
                columnWidth: "70%",
                zoom: {
                    enabled: !1
                },
                toolbar: {
                    enabled: !1
                }
            },
            theme: {
                mode: colors.chartTheme
            },
            dataLabels: {
                enabled: !0
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    legend: {
                        position: "bottom",
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }],
            plotOptions: {
                bar: {
                    horizontal: !0,
                    columnWidth: "30%"
                }
            },
            xaxis: {
                categories: @dateList,
                labels: {
                    show: !0,
                    trim: !1,
                    minHeight: void 0,
                    maxHeight: 250,
                    style: {
                        colors: colors.mutedColor,
                        cssClass: "text-muted",
                        fontFamily: base.defaultFontFamily
                    }
                },
                axisBorder: {
                    show: !1
                }
            },
            yaxis: {
                labels: {
                    show: !0,
                    trim: !1,
                    offsetX: -5,
                    minHeight: void 0,
                    maxHeight: 120,
                    style: {
                        colors: colors.mutedColor,
                        cssClass: "text-muted",
                        fontFamily: base.defaultFontFamily
                    }
                }
            },
            legend: {
                position: "bottom",
                fontFamily: base.defaultFontFamily,
                height: 50,
                fontWeight: 400,
                labels: {
                    colors: colors.mutedColor,
                    useSeriesColors: !1
                },
                offsetY: 10,
                markers: {
                    width: 10,
                    height: 10,
                    strokeWidth: 0,
                    strokeColor: colors.borderColor,
                    fillColors: chartColors,
                    radius: 6,
                    customHTML: void 0,
                    onClick: void 0,
                    offsetX: 0,
                    offsetY: 0
                },
                itemMargin: {
                    horizontal: 10,
                    vertical: 0
                },
                onItemClick: {
                    toggleDataSeries: !0
                },
                onItemHover: {
                    highlightDataSeries: !0
                }
            },
            fill: {
                opacity: 1,
                colors: chartColors
            },
            grid: {
                show: !0,
                borderColor: colors.borderColor,
                strokeDashArray: 0,
                position: "back",
                xaxis: {
                    lines: {
                        show: !0
                    }
                },
                yaxis: {
                    lines: {
                        show: !1
                    }
                },
                row: {
                    colors: void 0,
                    opacity: .5
                },
                column: {
                    colors: void 0,
                    opacity: .5
                },
                padding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 10
                }
            }
        },
        barChartCtn = document.querySelector("#areaChart");
        barChartCtn && (barChart = new ApexCharts(barChartCtn, barChartoptions)).render();

    </script>

</body>
</html>