@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@using Dashboard
@inject LocServices SharedLocalizer
@{
    @model List<User>
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    int waitingUsers = ViewBag.waitingUsers;
    int rejectedUsers = ViewBag.rejectedUsers;
    int deletedUsers = ViewBag.deletedUsers;
    int activeUsers = ViewBag.activeUsers;

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-xl-6 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-primary">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("RejectedUsers")</p>
                                    <span class="h3 mb-0">@rejectedUsers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-6 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-success">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("ActiveUsers")</p>
                                    <span class="h3 mb-0">@activeUsers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end section -->



            <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("Users")</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Username")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("DateOfBirth")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Mail")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Telephone")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("City") / @SharedLocalizer.GetLocalizedHtmlString("District")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Position")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("RegisterDate")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (User u in Model)
                                        {
                                            <tr>
                                                <td>@u.userId</td>
                                                <td>@u.firstName @u.lastName</td>
                                                <td>@u.username</td>
                                                <td>@u.dateOfBirth</td>
                                                <td>@u.contact.mail</td>
                                                <td>@u.contact.telephone</td>
                                                <td>@u.contact.district.districtName / @u.contact.district.city.cityName</td>
                                                <td>@u.position</td>
                                                <td>@u.registerDate</td>
                                                <td><span class="dot dot-lg bg-@Program.getDotColor(u.statusId) mr-2" data-toggle="tooltip" data-placement="right" title="@u.status.name"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only"></span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @if (u.statusId == 2)
                                                            {
                                                                <a data-target="@Url.Action("BanUserModal", "Users", new { userId = u.userId })" class="dropdown-item view" href="#">@SharedLocalizer.GetLocalizedHtmlString("Reject")</a>
                                                            }
                                                            @if (u.statusId == 3)
                                                            {
                                                                <a onclick="return confirmDialog()" class="dropdown-item" href="@Url.Action("ActivateUser", "Users", new { userId = u.userId })">@SharedLocalizer.GetLocalizedHtmlString("Approve")</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>

