@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@using Dashboard
@inject LocServices SharedLocalizer
@{
    @model List<Branch>
    Layout = "~/Views/Shared/_BranchesLayout.cshtml";
    int waitingBranches = ViewBag.waitingBranches;
    int deletedBrancehs = ViewBag.deletedBranches;
    int activeBranches = ViewBag.activeBranches;
    int rejectedBranches = ViewBag.rejectedBranches;
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-warning">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("WaitingBranches")</p>
                                    <span class="h3 mb-0">@waitingBranches</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-danger">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("DeletedBranches")</p>
                                    <span class="h3 mb-0">@deletedBrancehs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-primary">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("RejectedBranches")</p>
                                    <span class="h3 mb-0">@rejectedBranches</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3 text-center">
                                    <span class="circle circle-sm bg-success">
                                    </span>
                                </div>
                                <div class="col pr-0">
                                    <p class="small text-muted mb-0">@SharedLocalizer.GetLocalizedHtmlString("ActiveBranches")</p>
                                    <span class="h3 mb-0">@activeBranches</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end section -->
            <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("Branches")</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("BranchOwner")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("BranchName")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("TaxNumber")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Mail")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Telephone")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("City") / @SharedLocalizer.GetLocalizedHtmlString("District")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (Branch b in Model)
                                        {
                                            <tr>
                                                <td>@b.branchId</td>
                                                <td>@b.admin</td>
                                                <td>@b.name</td>
                                                <td>@b.taxNumber</td>
                                                <td>@b.registerDate</td>
                                                <td>@b.contact.mail</td>
                                                <td>@b.contact.telephone</td>
                                                <td>@b.contact.district.districtName / @b.contact.district.city.cityName</td>
                                                <td><span class="dot dot-lg bg-@Program.getDotColor(b.statusId) mr-2" data-toggle="tooltip" data-placement="right" title="@b.status.name"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only">Action</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @{ if (b.statusId != 1)
                                                                {<a data-target="@Url.Action("DeactiveBranchModal", "Branches", new { branchId = b.branchId })" class="dropdown-item view" href="#">@SharedLocalizer.GetLocalizedHtmlString("Deactivate")</a>}}
                                                            @{ if (b.statusId != 4)
                                                                {<a data-target="@Url.Action("DeleteBranchModal", "Branches", new { branchId = b.branchId })" class="dropdown-item view" href="#">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>}
                                                            }
                                                            <a class="dropdown-item" href="@Url.Action("Index", "BranchProfile", new {branchId = b.branchId})">@SharedLocalizer.GetLocalizedHtmlString("GoToBranch")</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>

