@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@inject LocServices SharedLocalizer
@model List<DeleteAreaRequests>
@{
    Layout = "~/Views/Shared/_DeleteAreaRequestsLayout.cshtml";}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("DeleteAreaRequests")</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("AreaName")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Title")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Content")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (DeleteAreaRequests d in Model)
                                        {
                                            <tr>
                                                <td>@d.deleteRequestId</td>
                                                <td>@d.area.areaName</td>
                                                <td>@d.title</td>
                                                <td>@d.content</td>
                                                <td>@d.date</td>
                                                <td><span class="dot dot-lg bg-@(d.isActive ? "success" : "warning") mr-2"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only">Action</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @if (!d.isActive)
                                                            {<a class="dropdown-item" href="@Url.Action("ApproveDeleteArea", "DeleteAreaRequests", new { requestId = d.deleteRequestId })">@SharedLocalizer.GetLocalizedHtmlString("Approve")</a>}
                                                            <a class="dropdown-item" href="@Url.Action("Index", "BranchProfile", new {branchId = d.area.branchId})">@SharedLocalizer.GetLocalizedHtmlString("GoToBranch")</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->


<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>



<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>

