@using Dashboard.Models
@using Dashboard
@using Dashboard.Resources
@inject LocServices SharedLocalizer
@model BranchCards
@{

    Layout = "~/Views/Shared/_LeftLayout.cshtml";

}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h3 mb-4 page-title">Şube Bilgisi</h2>
            <div class="my-4">
                @using (Html.BeginForm("EditCard", "BranchProfile", FormMethod.Post))
                {

                    <input type="hidden" id="cardId" name="cardId" value="@Model.cardId">

                    <hr class="my-4">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="firstname">@SharedLocalizer.GetLocalizedHtmlString("CardOwner")</label>
                            <input type="text" name="cardOwner" id="cardOwner" class="form-control" value="@Model.cardOwner">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="firstname">@SharedLocalizer.GetLocalizedHtmlString("IBAN")</label>
                            <input type="text" name="IBAN" id="IBAN" class="form-control" value="@Model.iban">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="firstname">@SharedLocalizer.GetLocalizedHtmlString("BankName")</label>
                            <input type="text" name="bankName" id="bankName" class="form-control" value="@Model.bankName">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <button onclick="return confirmDialog()" type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                    </div>

                }
                <hr class="my-4">
            </div> <!-- /.card-body -->
        </div> <!-- /.col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>