@using Dashboard.Resources
@using Dashboard.Models
@using Dashboard

@inject LocServices SharedLocalizer
@{
    Layout = "~/Views/Shared/_BranchProfileLayout.cshtml";
    Branch branch = ViewBag.branch;

    BranchWallet wallet = ViewBag.walletData;
    BranchStars stars = ViewBag.branchStars;

    List<BranchCards> cards = ViewBag.branchCards;
    List<MatchHistory> matchHistories = ViewBag.matchHistories;
    List<BranchEconomy> economy = ViewBag.branchEconomies;
    List<BranchTransActions> transActions = ViewBag.branchTransActions;


    String starPoint = Math.Round(((double)stars.point / (double)stars.count), 1).ToString().Replace(",", ".");

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="my-4">
                @using (Html.BeginForm("UpdateBranch", "BranchProfile", FormMethod.Post))
                {

                    <input type="hidden" id="branchId" name="branchId" value="@branch.branchId">
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="https://www.gravatar.com/avatar/@Program.MD5Hash(branch.contact.mail)" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h4 class="mb-1">@branch.name (@branch.admin)</h4>
                                    <p class="mb-3">@branch.registerDate</p>
                                    <p class="mb-3"><span class="badge badge-dark">@starPoint @branch.contact.district.districtName,@branch.contact.district.city.cityName,@branch.contact.district.city.region.regionName</span></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <p class="text-muted">@branch.contact.address</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">@SharedLocalizer.GetLocalizedHtmlString("BranchOwner")</label>
                            <input type="text" name="branchOwner" id="branchOwner" class="form-control" value="@branch.admin" placeholder="Brown">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">@SharedLocalizer.GetLocalizedHtmlString("BranchName")</label>
                            <input type="text" name="branchName" id="branchName" class="form-control" value="@branch.name" placeholder="Asher">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">@SharedLocalizer.GetLocalizedHtmlString("TaxNumber")</label>
                            <input type="text" name="taxNumber" id="taxNumber" class="form-control" value="@branch.taxNumber" placeholder="Brown">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">@SharedLocalizer.GetLocalizedHtmlString("Telephone")</label>
                            <input type="text" name="telephone" id="telephone" class="form-control" value="@branch.contact.telephone" placeholder="Asher">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">@SharedLocalizer.GetLocalizedHtmlString("Address")</label>
                            <input type="text" class="form-control" name="address" id="address" value="@branch.contact.address" placeholder="brown@asher.me">
                        </div><div class="form-group col-md-6">
                            <label for="inputEmail4">@SharedLocalizer.GetLocalizedHtmlString("Mail")</label>
                            <input type="email" class="form-control" name="mail" id="mail" value="@branch.contact.mail" placeholder="brown@asher.me">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">@SharedLocalizer.GetLocalizedHtmlString("Debt")</label>
                            <input type="text" class="form-control" name="debt" id="debt" value="@wallet.debt" placeholder="brown@asher.me">
                        </div><div class="form-group col-md-6">
                            <label for="inputEmail4">@SharedLocalizer.GetLocalizedHtmlString("Balance")</label>
                            <input type="text" class="form-control" name="balance" id="balance" value="@wallet.balance" placeholder="brown@asher.me">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("City")</label>
                            <select class="custom-select" id="il" name="iller" disabled>
                                <option value="@branch.contact.district.city.cityId" selected>@branch.contact.district.city.cityName</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("District")</label>
                            <select class="custom-select" id="ilce" name="ilceler" disabled>
                                <option value="@branch.contact.district.districtId" selected>@branch.contact.district.districtName</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 col-sm-12">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("ShoesRent")</label>
                            <input value="true" type="checkbox" name="shoesRent" id="shoesRent" @(branch.shoesRent ? "checked" : "")>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("Market")</label>
                            <input value="true" type="checkbox" name="market" id="market" @(branch.market ? "checked" : "")>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("Catering")</label>
                            <input value="true" type="checkbox" name="catering" id="catering" @(branch.catering ? "checked" : "")>
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            <label for="custom-select">@SharedLocalizer.GetLocalizedHtmlString("Shower")</label>
                            <input value="true" type="checkbox" name="shower" id="shower" @(branch.shower ? "checked" : "")>
                        </div>
                    </div>

                    <div class="form-row">
                        @foreach (PaymentMethods m in ViewBag.paymentMethods)
                        {

                            bool func(PaymentMethods method)
                            {
                                List<BranchPaymentMethods> methods = ViewBag.branchPaymentMethods;
                                foreach (BranchPaymentMethods inMethod in methods)
                                {
                                    if (inMethod.paymentMethodId == method.paymentMethodId)
                                    {
                                        return true;
                                    }
                                }
                                return false;
                            }


                            <div class="form-group col-md-@(12 / (ViewBag.paymentMethods.Count))">
                                <label for="custom-select">@m.paymentMethodName</label>
                                <input value="true" type="checkbox" name="pm_@m.paymentMethodId" id="pm_@m.paymentMethodId" @(func(m) ? "checked" : "")>
                            </div>

                        }
                    </div>

                    <hr class="my-4">
                    <div class="form-group col-md-12">
                        <button onclick="return confirmDialog()" type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                    </div>

                }
            
                <hr class="my-4">
                <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchCards")</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-1">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("CardOwner")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IBAN")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("BankName")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (BranchCards b in cards)
                                            {
                                                <tr>
                                                    <td>@b.cardId</td>
                                                    <td>@b.cardOwner</td>
                                                    <td>@b.iban</td>
                                                    <td>@b.bankName</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="text-muted sr-only">Action</span>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">

                                                                <a onclick="return confirmDialog()" class="dropdown-item" href="@Url.Action("DeleteCard", "BranchProfile", new { branchId = b.branchId, cardId = b.cardId })">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                                                                <a data-target="@Url.Action("EditCardPage", "BranchProfile", new { cardId = b.cardId })" class="dropdown-item view" href="#">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            }; }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>  <!-- end section -->

                <hr class="my-4">

                <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchEconomyData")</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-2">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Year")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Month")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Giro")</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (BranchEconomy b in economy)
                                            {
                                                <tr>
                                                    <td>@b.branchEconomyId</td>
                                                    <td>@b.year</td>
                                                    <td>@b.month</td>
                                                    <td>@b.giro</td>
                                                </tr>
                                            }; }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>  <!-- end section -->


                <hr class="my-4">
                <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchTransActionsData")</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-3">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Amount")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IBAN")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("CardOwner")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (BranchTransActions b in transActions)
                                            {
                                                <tr>
                                                    <td>@b.transId</td>
                                                    <td>@b.date</td>
                                                    <td>@b.amount</td>
                                                    <td>@b.card.iban</td>
                                                    <td>@b.card.cardOwner</td>
                                                    <td><span class="dot dot-lg bg-@(b.checkActive ? "success" : "warning") mr-2"></span></td>
                                                </tr>
                                            }; }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>  <!-- end section -->

                <hr class="my-4">

                <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchMatchData")</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-4">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Profit")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("PaymentType")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("AppointmentType")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("WinnerTean")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("LoserTeam")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Score")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Clock")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("AreaName")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (MatchHistory match in matchHistories)
                                            {
                                                <tr>
                                                    <td>@match.matchId</td>
                                                    <td>@match.amount</td>
                                                    <td>@match.paymentMethod.paymentMethodName</td>
                                                    <td>@match.appointmentType.appointmentName</td>
                                                    <td>@match.winnerTeam.name</td>
                                                    <td>@match.loserTeam.name</td>
                                                    <td>@match.date</td>
                                                    <td>@match.score</td>
                                                    <td>@match.clock</td>
                                                    <td>@match.area.areaName</td>
                                                </tr>
                                            }; }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div>  <!-- end section -->
                <hr class="my-4">

                <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchAreas")</h2>
                <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-5">
                                    <thead>
                                        <tr>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("AreaName")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Ground")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Height") x @SharedLocalizer.GetLocalizedHtmlString("Width")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("MaxPlayer")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("OpenCloseTime")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("RentTime")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Price")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("RegisterDate")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("RecordingMatch")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Roof")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                            <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{foreach (AreaInfo a in ViewBag.areas)
                                            {
                                                <tr>
                                                    <td>@a.areaId</td>
                                                    <td>@a.areaName</td>
                                                    <td>@a.ground</td>
                                                    <td>@a.heightWidth</td>
                                                    <td>@a.maxPlayer</td>
                                                    <td>@a.openCloseTime</td>
                                                    <td>@a.time</td>
                                                    <td>@a.price</td>
                                                    <td>@a.registerDate</td>
                                                    <td><span class="dot dot-lg bg-@(a.recordingMatch ? "success" : "danger") mr-2"></span></td>
                                                    <td><span class="dot dot-lg bg-@(a.roof ? "success" : "danger") mr-2"></span></td>
                                                    <td><span class="dot dot-lg bg-@(a.isActive ? "success" : "warning") mr-2"></span></td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="text-muted sr-only">Action</span>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">

                                                                <a onclick="return confirmDialog()" class="dropdown-item" href="@Url.Action("DeleteArea", "BranchProfile", new { branchId = a.branchId, areaId =a.areaId })">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }; }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                </div> <!-- end section -->

                <hr class="my-4">


            </div> <!-- /.card-body -->
        </div> <!-- /.col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>