
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BranchApplicationLayout.cshtml";
}

@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@inject LocServices SharedLocalizer
@{
    @model List<Branch>
    Layout = "~/Views/Shared/_BranchesLayout.cshtml";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">Data table</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Sahibi</th>
                                        <th>İşletme İsmi</th>
                                        <th>Vergi Numarası</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>Mail</th>
                                        <th>Telefon</th>
                                        <th>İl/İlçe</th>
                                        <th>Aktiflik</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (Branch b in Model)
                                        {
                                            <tr>
                                                <td>@b.branchId</td>
                                                <td>@b.admin</td>
                                                <td>@b.name</td>
                                                <td>@b.taxNumber</td>
                                                <td>@b.registerDate</td>
                                                <td>@b.contact.mail</td>
                                                <td>@b.contact.telephone</td>
                                                <td>@b.contact.district.districtName / @b.contact.district.city.cityName</td>
                                                <td><span class="dot dot-lg bg-@(b.isActive ? "success" : "warning") mr-2"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only">Action</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @{ if (!b.isActive)
                                                                {<a onclick="return confirmDialog()" class="dropdown-item" href="@Url.Action("ApproveBranch", "BranchApplication", new { branchId = b.branchId })">Onayla</a>}}
                                                            <a class="dropdown-item" href="@Url.Action("Index", "BranchProfile", new {branchId = b.branchId})">Detay Gör</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->


<script>
    function confirmDialog() {
        var c = confirm("İşlemi onaylamak istediğinize emin misiniz ?");
        return c;
    }
</script>



