@using Dashboard.Models
@using System.Collections.Generic
@using Dashboard.Resources
@using Dashboard
@inject LocServices SharedLocalizer
@{
    @model List<Branch>
    Layout = "~/Views/Shared/_BranchApplicationLayout.cshtml";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">@SharedLocalizer.GetLocalizedHtmlString("BranchApplications")</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("IdText")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("BranchOwner")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("BranchName")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("TaxNumber")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Mail")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Telephone")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("City") / @SharedLocalizer.GetLocalizedHtmlString("District")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                                        <th>@SharedLocalizer.GetLocalizedHtmlString("Operations")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (Branch b in Model)
                                        {
                                            <tr>
                                                <td>@b.branchId</td>
                                                <td>@b.admin</td>
                                                <td>@b.name</td>
                                                <td>@b.taxNumber</td>
                                                <td>@b.registerDate</td>
                                                <td>@b.contact.mail</td>
                                                <td>@b.contact.telephone</td>
                                                <td>@b.contact.district.districtName / @b.contact.district.city.cityName</td>
                                                <td><span class="dot dot-lg bg-@Program.getDotColor(b.statusId) mr-2" data-toggle="tooltip" data-placement="right" title="@b.status.name"></span></td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="text-muted sr-only">Action</span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @{ if (b.statusId == 1)
                                                                {
                                                                    <a onclick="return confirmDialog()" class="dropdown-item" href="@Url.Action("ApproveBranch", "BranchApplication", new { branchId = b.branchId })">@SharedLocalizer.GetLocalizedHtmlString("Approve")</a>
                                                                }}
                                                            <a class="dropdown-item" href="@Url.Action("Index", "BranchProfile", new {branchId = b.branchId})">@SharedLocalizer.GetLocalizedHtmlString("GoToBranch")</a>
                                                            <a data-target="@Url.Action("RejectBranchModal", "BranchApplication", new { branchId = b.branchId })" class="dropdown-item view" href="#">@SharedLocalizer.GetLocalizedHtmlString("Reject")</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }; }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<script>
    function confirmDialog() {
        var c = confirm("@SharedLocalizer.GetLocalizedHtmlString("AreYouSure")");
        return c;
    }
</script>



